<div class="container centered">
<div class="container-signup">
  <div class="row">
    
    <div class="col-sm">
    
    </div>

    <div class="col-sm-6 centered-form text-center blackstyleform">
      <h2>Sign Up</h2>
      <form action="/auth/signup" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">City</label>
          <input type="text" name="city" class="form-control">
        </div>
        <div class="form-group">
          <label for="city">Address</label>
          <input type="text" name="adress" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
          <div class='form-group'>
            <label for='input2'>Profile image:</label>
            <input name='imgFile' type='file' id='input2'>
          </div>

        </div>
                <button type="submit" class="btn btn-warning btn-sm">Signup</button>
      </form>
    </div>
    <div class="col-sm">    
    </div>
  </div>
</div>
</div>